extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="iamgen de nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla tortor, pretium nec nisi ac, aliquet sodales ligula. Suspendisse consequat velit placerat, tristique libero at, tristique neque. Donec lacinia massa vitae ex posuere bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum sodales blandit euismod. Fusce nibh dui, aliquet non massa in, fermentum facilisis metus.
                p  Cras mattis iaculis mauris, ut dictum nunc luctus vitae. Praesent in scelerisque turpis, eget fringilla tortor. Sed vehicula cursus libero, in sollicitudin neque varius vitae. Aliquam porttitor molestie laoreet. Nullam in rutrum lectus. Morbi egestas mollis erat, nec suscipit ipsum vestibulum non. Etiam non mollis sapien, quis malesuada justo. Praesent rutrum nisl non velit tempus,
                p In vitae magna sed metus vestibulum tristique ac sed dolor. In hac habitasse platea dictumst. Suspendisse cursus sapien sed massa cursus ullamcorper. Ut id bibendum felis, sit amet dignissim ligula. Suspendisse quis eros ut est suscipit luctus id sit amet nunc. Aliquam egestas nisi at purus mattis luctus. Nunc ut pulvinar elit, ac volutpat lorem. Maecenas cursus arcu sit amet magna sodales, ultricies luctus neque faucibus. Vivamus auctor posuere enim eu pellentesque. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="", class='img-fluid mb-4')
                    h2.mb-4 Seguridad
                    p Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris vitae quam condimentum, auctor elit id, pretium mauris.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="", class='img-fluid mb-4')
                    h2.mb-4 Mejores Destinos
                    p Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris vitae quam condimentum, auctor elit id, pretium mauris.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="", class='img-fluid mb-4')
                    h2.mb-4 MEjor Precio
                    p Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris vitae quam condimentum, auctor elit id, pretium mauris. 